body{
    background-color: blue;
}
p{
    background-color: cornsilk;
    font-family: Verdana;
    font-size: 30px;
    border-top: 50;
    border-bottom: 100;
    border-left: 30;
    border-right: 30;
    border-radius: 60;
    border-style:groove ;
    margin-top: 100px;
    margin-bottom: 100 px;
    margin-right: 50px;
    margin-left: 80px;
}