body {
    background-color: blue;
}

p {
    color: red;
    font-size: 18px;
    border: 2px solid green;   /* adds a green border */
    width: fit-content;        /* makes border wrap tightly around text */
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;

}
div{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    background-color: green;
    
}